<!DOCTYPE HTML>
<html ng-app='sense'>

<head>
	<title>Simple Display</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
<style>
.ng-invalid.ng-dirty,
.ng-invalid-required {
border-color:#FA787E!important;
}

.ng-valid.ng-dirty {
border-color:#78FA89!important;
}
</style>

	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	
	<!-- important load jquery mobile after angularjs -->
	<!-- script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script -->
	<script src="main.js"></script>

</head>

<body>
	<div data-role="page" id="one">
		<div data-role="header">
			<h1>Sense Data Display</h1>
		</div>
		<div role="main" class="ui-content" ng-controller="DataController as ctrl">
			<div id="status">status unknown</div>
			<hr/>
			<form name="form" novalidate>
				<div class="ui-grid-a">
					<div class="ui-block-a"><div class="ui-field-contain">
						<label for="autorefresh">Auto refresh: </label>
						<input ng-model="autorefresh.check" data-role="flipswitch" name="autorefresh" type="checkbox" >
					</div></div>
					<div class="ui-block-b"><div class="ui-field-contain">
						<label for="refresh_interval">every seconds:</label>
						<input ng-model="autorefresh.interval" name="refresh_interval" size="5" type="number" 
						min="1" required>
					</div></div>
				</div><!-- /grid-a -->
				<hr/>

				<input type="button" ng-model="btn_update" value="Update" ng-click="reloadData()" />

				<div class="ui-field-contain">
					<label for="sense-tempp">Temperature from pressure:</label>
					<input ng-model="data.temp_p" name="sense-tempp" type="text">
				</div>

				<div class="ui-field-contain">
					<label for="sense-temph">Temperature from humidity:</label>
					<input ng-model="data.temp_h" name="sense-temph" type="text">
				</div>


				<div class="ui-field-contain">
					<label for="sense-humidity">Humidity:</label>
					<input ng-model="data.humidity" name="sense-humidity" type="text">
				</div>
				<div class="ui-field-contain">
					<label for="sense-pressure">Pressure:</label>
					<input ng-model="data.pressure" name="sense-pressure" type="text">
				</div>

				<h3 class="ui-bar ui-bar-a">Orientation Data</h3>
				<div class="ui-body">
					<div class="ui-field-contain">
						<label for="sense-pitch">Pitch:</label>
						<input ng-model="data.pitch" name="sense-pitch" type="text">
					</div>
					<div class="ui-field-contain">
						<label for="sense-roll">Roll:</label>
						<input ng-model="data.roll" name="sense-roll" type="text">
					</div>
					<div class="ui-field-contain">
						<label for="sense-yaw">Yaw:</label>
						<input ng-model="data.yaw" name="sense-yaw" type="text">
					</div>
				</div>

				<h3 class="ui-bar ui-bar-a">Magnetometer Data</h3>
				<div class="ui-body">
					<div class="ui-field-contain">
						<label for="sense-magx">Mag. X:</label>
						<input ng-model="data.mag_x" name="sense-magx" type="text">
					</div>
					<div class="ui-field-contain">
						<label for="sense-magy">Mag. Y:</label>
						<input ng-model="data.mag_y" name="sense-magy" type="text">
					</div>
					<div class="ui-field-contain">
						<label for="sense-magz">Mag. Z:</label>
						<input ng-model="data.mag_z" name="sense-magz" type="text">
					</div>
				</div>

				<h3 class="ui-bar ui-bar-a">Acceleration Data</h3>
				<div class="ui-body">
					<div class="ui-field-contain">
						<label for="sense-accx">Acc. X:</label>
						<input ng-model="data.acc_x" name="sense-accx" type="text">
					</div>
					<div class="ui-field-contain">
						<label for="sense-accy">Acc. Y:</label>
						<input ng-model="data.acc_y" name="sense-accy" type="text">
					</div>
					<div class="ui-field-contain">
						<label for="sense-accz">Acc. Z:</label>
						<input ng-model="data.acc_z" name="sense-accz" type="text">
					</div>
				</div>

				<h3 class="ui-bar ui-bar-a">Gyroscope Data</h3>
				<div class="ui-body">
					<div class="ui-field-contain">
						<label for="sense-gyrox">Gyro. X:</label>
						<input ng-model="data.gyro_x" name="sense-gyrox" type="text">
					</div>
					<div class="ui-field-contain">
						<label for="sense-gyroy">Gyro. Y:</label>
						<input ng-model="data.gyro_y" name="sense-gyroy" type="text">
					</div>
					<div class="ui-field-contain">
						<label for="sense-gyroz">Gyro. Z:</label>
						<input ng-model="data.gyro_z" name="sense-gyroz" type="text">
					</div>
				</div>

				<input type="button" ng-model="btn_update" value="Update" ng-click="reloadData()" />
			</form>
		</div>
	</div>
</body>

</html>